* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.pai{
    font-size: 30px;
}

#p2 {
    font-size: 2em;
}

.p3 {
    font-size: 2rem;
}

#faixa {
    background-color: rgb(77, 0, 77);
    width: 100vw;
    height: 5vh;
}

